:root {
  --off__white: #f2f2f2;
  --red: #f9423a;
  --button__bg: #d2d3d4;
  --shadow: #868686;
  --blue: #96daeb;
  --dark-blue: #06a0c7;
  --green: #4bb543;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: clamp(24px, 1.5vw, 25px);
  font-weight: 400;
  line-height: 1.6;
  color: #171717;
}

body {
  background-color: var(--off__white);
  max-width: 70rem;
  margin: 0 auto;
}
main {
  text-align: center;
}

br {
  margin: 2% 0 0 0;
  display: block;
}
.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 3%;
}

.sponsors__logo {
  height: 55px;
  width: auto;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 500px;
}
.logo__img {
  width: 100%;
  margin-left: 25px;
}

.instructions {
  display: block;
  max-width: 40rem;
  margin: 0 auto 3% auto;
}

.browse {
  padding: 15px;
  width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  font-size: 0.75rem;
  box-shadow: -1px 2px 4px var(--shadow);
}

.browse__button {
  border: 2px dashed var(--blue);
  border-radius: inherit;
  padding: 50px 30px;
  display: block;
  width: 100%;
}

.submit {
  font-size: 0.9rem;
  display: block;
  margin: 2% auto;
}
.submit__button {
  border: 0px;
  background-color: var(--blue);
  padding: 7px 28px;
  border-radius: 10px;
  font-size: 0.7rem;
  box-shadow: -1px 2px 4px var(--shadow);
}

.important {
  display: block;
  font-size: 1.25rem;
  font-weight: 300;
}

.important--red {
  color: var(--red);
}

.important--green {
  color: var(--green);
}

.file_type {
  font-weight: 600;
}

.pin {
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  padding: 7px 28px;
  font-size: 2rem;
  background-color: var(--dark-blue);
  color: #fff;
  border-radius: 10px;
  box-shadow: -1px 2px 4px var(--shadow);
}

.video-wrapper {
  width: 600px;
  overflow: hidden;
  display: block;
  height: 600px;
  margin: 0 auto;
}

.video-wrapper video {
  position: relative;
  left: -1110px;
  top: -500px;
}
