<!DOCTYPE html>
<html>

<head>
    <title>Python Flask Multiple Files Upload Example</title>
</head>

<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
</style>

<body>
    <h2>Now processing your file(s)</h2>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>
</body>

</html>